@import url('https://fonts.googleapis.com/css?family=Zen+Antique');

:root {
  --container-bg-color: #333;
  --split-bg-color: rgba(43, 43, 43, 0.8);
  --split-hover-bg-color: rgba(255, 255, 255, 0.8);
  --button-hover-color: rgba(43, 43, 43, 0.8);
  --hover-width: 70%;
  --other-width: 30%;
  --speed: 2200ms;
}
/* fonts */
#left-font, #right-font{
  font-family: 'Zen Antique', sans-serif;
}
.left-btn, .right-btn{
  border: #fff solid 0.1rem !important;
  width: 12rem !important;
}
.left-btn:hover{
  border: rgba(43, 43, 43, 0.8) solid 0.1rem !important;
}

html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.split-desc {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

.button {
  font-size: 1rem;
  display: block;
  position: absolute;
  left: 50%;
  top: 45%;
  height: 3rem;
  padding-top: 0.75rem;
  width: 10rem;
  text-align: center;
  color: #fff;
  border: #fff dotted 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover ,.split.right .button:hover {
  color: #fff;
  font-weight: bold;
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.ccm-block-hero-split {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background-size: cover;
}

.split.left:before,.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--split-bg-color);
}

.split.right {
  right:0;
  background-size: cover;
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left.left {
  width: var(--hover-width);
  color: #000;
}

.hover-left.right {
  width: var(--other-width);
  color: #fff;
}

.hover-left.right:before {
  z-index: 2;
}


.hover-right.right {
  width: var(--hover-width);
  color: #000;
}

.hover-right.left {
  width: var(--other-width);
  color: #fff;
}

.hover-right.left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  #left-font, #right-font{
    font-size: 1.5rem;
  }
  .button {
    width: 12rem;
  }
  .ccm-block-hero-split{
    min-height: auto!important;
  }
  .split {
    position: relative;
    width: 100%;
    min-height: 20vh!important;
    overflow: hidden;
  }
}

@media(max-height: 700px) {
  .split-desc {
    top: 50%;
  }
  .button {
    top: 70%;
  }
}

